<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test_Scripts.Swiggy_Test"/>
      <class name="test_Scripts.Zomato_Test"/>
      <class name="test_Scripts.Ola_Test"/>
      <class name="test_Scripts.Uber_Test"/>
      <class name="test_Scripts.Kia_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
